name: Build and Push Docker Image to Docker Hub and Deploy on VPS

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.20

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: docker build . -t mirzarakha2804/talk_bot:${{ github.sha }}

    - name: Push Docker image to Docker Hub
      run: docker push mirzarakha2804/talk_bot:${{ github.sha }}

    - name: Deploy to VPS via SSH
      uses: appleboy/ssh-action@v0.1.5
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_SSH_KEY }}
        script: |
          # Check if .env file exists; if not, copy from the repository
          if [ ! -f /home/arvalinno/seatalk_bot/.env ]; then
            echo "File .env not found, copying from repository..."
            mkdir -p /home/arvalinno/seatalk_bot
            cp /home/arvalinno/seatalk_bot/.env /home/arvalinno/seatalk_bot/.env  # Ganti dengan path relatif yang sesuai
          fi

          # Pull the latest image from Docker Hub
          docker pull mirzarakha2804/talk_bot:${{ github.sha }}
          
          # Stop and remove old container if exists
          docker stop test-container || true
          docker rm test-container || true

          # Run new container
          docker run -d -p 6969:6969 --name test-container --env-file /home/arvalinno/seatalk_bot/.env mirzarakha2804/talk_bot:${{ github.sha }}
